body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.header-footer {
  height: 50px;
  padding: 10px;
  margin: 15px 0;
  color: mediumpurple;
  /* font-weight: bold; */
  font-size: 24px;
  text-align: center;
}

.CancelButton:hover,
.CancelButton,
.CancelButton:active,
.CancelButton:visited {
  border: 1px solid mediumpurple;
}

.CancelLink,
.CancelLink:hover,
.CancelLink:active,
.CancelLink:visited {
  text-decoration: none;
  color: mediumpurple;
}

.SubmitButton:hover,
.SubmitButton,
.SubmitButton:active,
.SubmitButton:visited {
  background-color: mediumpurple;
  color: white;
}

.Welcome-text {
  height: 50px;
  padding: 10px;
  margin: 15px 0;
  font-size: 24px;
  text-align: center;
}

.Card-Text {
  text-align: center;
}

.CardBorder {
  border: 1px solid mediumpurple;
}

.answer-font {
  font-size: 25px;
}

.CardWidth {
  min-width: 40%;
}

.center-btn {
  display: flex;
  justify-content: center;
}

.CardWidth-Min {
  min-width: 700px;
}
